<div class="col-md-6 offset-md-3" style="margin-top: 25px" >
    <button type="button" class="custom-btn btn-10"   >
        <a href="Booking-list">Booking List</a>
      </button>
      <button type="button" class="custom-btn btn-10" style="margin-left: 20px"   >
        <a href="review">Review</a></button>
        <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded" style="margin-top: 20px">
        <div id="outside">
        <section style="border: 2px solid black; padding: 20px;">
    <h3 class="font-weight-bold"> Booking </h3>
    <form (ngSubmit) = "onSubmit()">
    
    
        <div class="form-group">
            <label> First Name </label>
            <input type="text" required #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.touched" class ="form-control" id = "firstName"
                [(ngModel)] = "customer.firstName" name = "firstName">
                <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">First Name required</small>
        </div>
    
        <div class="form-group">
            <label> Last Name </label>
            <input type="text" required #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched" class ="form-control" id = "lastName"
                [(ngModel)] = "customer.lastName" name = "lastName">
                <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">Last Name required</small>
        </div>

        

        <div class="form-group">
          <label> contactNumber </label>
          <input type="text" required minlength="10" maxlength="12" #contactNumber="ngModel" [class.is-invalid]="contactNumber.invalid && contactNumber.touched" class ="form-control" id = "time"
                [(ngModel)] = "customer.contactNumber" name = "Phone">
              <div class="text-danger" *ngIf="contactNumber.invalid && (contactNumber.dirty  || contactNumber.touched)">
              <div *ngIf="contactNumber.errors.required">
                  contactNumber is required.
                </div>
                <div *ngIf="contactNumber.errors.minlength">
                  Number must be atleast 10 digits long.
                </div>
                <div *ngIf="contactNumber.errors.maxlength">
                  Number must not be more than 12 digits long.
                </div>
              </div>
      </div>

        

          <div>
            <label for="Gender">Gender</label>
            <p>
              <input type="radio" name="gender" value="male" [(ngModel)] = "customer.gender" > Male<br>
              <input type="radio" name="gender" value="female" [(ngModel)] = "customer.gender"> Female<br>
              <input type="radio" name="gender" value="other" [(ngModel)] = "customer.gender"> Other
            </p>
          </div>

        


        <button class = "btn btn-success" type ="submit">Conform Booking</button>
        <button class = "btn btn-info" style="margin-top: 15px;" (click)="opensweetalert()"> Payment </button>

        <button type="button" class="btn btn-Accent payBtn" >
          <a href="pay">pay</a>
        </button>

    
    </form>
        </section>
      </div>
      </div>
    