<div class="container" style="margin-top: 20px;" *ngIf="currentUser; else loggedOut">
  
      
    <header class="jumbotron">

      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card" style="margin-bottom: 35px;"
      />
      <h3 style="text-align: center;">
        <strong>{{ currentUser.username }}</strong> Profile
      </h3>
    </header>
  
    <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
    
    <p>
      <strong>Email:</strong>
      {{ currentUser.email }}
    </p>
    <strong>Roles:</strong>
    <ul>
      <li *ngFor="let role of currentUser.roles">
        {{ role }}
      </li>
    </ul>
    </div>
  </div>
  
  <ng-template #loggedOut>
    Please login.
  </ng-template>
