


<div style="text-align: center">
    <button type="button" class="btn btn-Warm bookinglistBtn" id="b">
        <a href="Booking-list">Booking List</a>
      </button>
      <button type="button" class="btn btn-Warm reviewBtn" id="b">
        <a href="review">Review</a>
      </button>
</div>

<div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
    <div style="text-align: center">
    <section style="border: 2px solid black; padding: 20px;">
      <svg viewBox="0 0 600 300">
        <symbol id="s-text">
          <text text-anchor="middle" x="50%" y="50%" dy=".35em">W   E   L   C   O   M   E 

          </text>
        </symbol>
        <use xlink:href="#s-text" class="text"></use>
        <use xlink:href="#s-text" class="text"></use>
        <use xlink:href="#s-text" class="text"></use>
        <use xlink:href="#s-text" class="text"></use>
        <use xlink:href="#s-text" class="text"></use>
      </svg>
    <h3>
        Booking seccussfully Completed
    </h3>
    <p>Have a good time</p>
    </section>
</div>
</div>

