<div class="card card-container shadow-lg p-3 mb-5 bg-black rounded" style="margin-top: 65px">
    <div id="outside" style="text-align: center;">
    <section style="border: 2px solid black; padding: 20px;">
<h3 class="font-weight-bold"> Including all Taxes  </h3>
<form (ngSubmit) = "onSubmit()">
      
<h2>Total Price :         {{fare.bookingfare}}</h2>
      


    
      <button type="button" class = "btn btn-success" (click)="addBooking(fare.bookingfare)" >Continue Booking</button>

  
  </form>
    </section>
    </div>
    </div>
  
