
  <div id="app">
    <div style="margin-top: 35px;">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a href="fv" class="nav-link"  class="btn btn-dark">View</a>
        </li>
        <li class="nav-item" >
          <a href="flights" class="nav-link" class="btn btn-dark">Edit</a>
        </li>
        
        <li class="nav-item">
          <a href="add-flight" class="nav-link" class="btn btn-dark">Add Flight</a>
        </li>
      </ul>
     
    </nav>
    </div>
  </div>
  

    

    <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
    <div class="context-value" style="text-align: center;">
      
      <svg viewBox="0 0 600 300">
        <symbol id="s-text">
          <text text-anchor="middle" x="50%" y="50%" dy=".35em">Welcome    To    Miss  {{ currentUser.username }}

          </text>
        </symbol>
        <use xlink:href="#s-text" class="text"></use>
        <use xlink:href="#s-text" class="text"></use>
        <use xlink:href="#s-text" class="text"></use>
        <use xlink:href="#s-text" class="text"></use>
        <use xlink:href="#s-text" class="text"></use>
      </svg>

       
    </div>
      </div>
    </div>
      
    
  

