<div class="col-md-12">
    <div class="card card-container">

      <button type="button" style="margin-bottom: 20px;" class="btn btn-dark"   >
        <a href="Booking-list">Booking List</a>
      </button>
        <img 
        id="pic10.img"
        src="https://upload.wikimedia.org/wikipedia/en/thumb/8/89/Razorpay_logo.svg/1896px-Razorpay_logo.svg.png"
        class="pic10.img-card"
      />
      <div style="margin-top: 30px;" ><div style="text-align: center"><h2>Continue payment with Razorpay</h2></div></div>
<div class="container"><button class="btn-info" style="margin-top: 25px;" (click)="pay()">Pay</button></div>

</div>
</div>